__pycache__/
*.pyc
venv/
backend/venv/
.venv/
node_modules/
.next/

.env
.env.*

backend/data/*.db
backend/data/images/temp_images.jpg
backend/data/images/test.jpg
backend/data/images/retained_images/

*.log
*.h5
